*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Poppins", sans-serif;
    color: antiquewhite;
    background: rgb(20, 11, 0);
}
ul, a{
    list-style: none;
    text-decoration: none;
    color: antiquewhite;
}
ul{
    justify-content: end;
    display: flex;
    margin: auto;
    width: 90%;
}
li{
    margin-left: 4%;
    margin-right: 4%;
}
nav{
    justify-content: space-evenly;
    display: -webkit-box;
    margin: 4%;
}
.title-nav{
    padding: 1%;
    border: 1px solid whitesmoke;
    border-radius: 3px;
}
a{
    margin-bottom: 5%;
}
a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: whitesmoke;
    transition: width 0.3s;
}
a:hover::after{
    width: 100%;
}
p{
    text-align: center;
}
center{
    height: 450px;
    width: 100%;
}
